@charset "UTF-8";
.grid-category-detail{
	display: grid;
	grid-gap: 5px; 
	grid-template-columns: auto auto auto auto auto auto;
	padding: 5px;
}
#grid-category-details{
	grid-column-start: 1;
    grid-column-end: 5;
}
#category-detail1{
    grid-column-start: 1;
    grid-column-end: 3;
}#category-detail2{
    grid-column-start: 3;
    grid-column-end: 5;
}#category-detail3{
    grid-column-start: 5;
    grid-column-end: 7;
}
#nav{
    grid-column-start: 1;
    grid-column-end: 5;
}
#side_menu{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: fb7171;
}
#photo{
    grid-column-start: 1;
    grid-column-end: 2;
}
#update{
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #fff;
}
#delete{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #fff;
}
#update_s{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #fff;
}
#cancle{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #fff;
}
.detail{
	grid-column-start: 2;
    grid-column-end: 5;
	border: 1px solid rgba(251, 108, 108, 0.8);
	padding: 5px; 
	text-align: center;
}
.grid-detail {
  display: grid;
  grid-gap: 5px; 
  grid-template-columns: auto auto auto auto;
  padding: 5px;
}
.grid-category {
  grid-column-start: 1;
    grid-column-end: 5;
}
#left-detail{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #fff;
    border:#fff;
    font-family: 'Hi Melody', cursive;
}
#right-detail{
    grid-column-start: 3;
    grid-column-end: 5;
    background-color: #fff;
    border:#fff;
    font-family: 'East Sea Dokdo', cursive;
}
