@charset "UTF-8";
.pro_list{
	display: grid;
	grid-gap: 5px; 
	grid-template-columns: auto auto auto;
	padding: 5px;
}
#pro_list{
    grid-column-start: 1;
    grid-column-end: 5;
}
#pro_search{
    grid-column-start: 1;
    grid-column-end: 5;
}
#pro_update{
    grid-column-start: 4;
    grid-column-end: 5;
}
#nav{
    grid-column-start: 1;
    grid-column-end: 5;
}
#side_menu{
    grid-column-start: 1;
    grid-column-end: 2;
}
#content{
    grid-column-start: 2;
    grid-column-end: 5;
    font-family: 'Jua', sans-serif;
}
#cust_tab {
  border-collapse: collapse;
  width: 100%;
}
#cust_tab td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  font-family: 'East Sea Dokdo', cursive; 
}
#cust_tab tr:nth-child(even) {
  background-color: #e5b9b9;
}
.center {
  text-align: center;
}
.pagination {
  display: inline-block;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}
.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}