@charset "UTF-8";
.grid-container  {
  display: grid;
  grid-gap: 5px; 
  grid-template-columns: auto auto auto auto;
  padding: 5px; 
}
.grid-item {
   background-color: rgba(251, 108, 108, 0.8); 
  border: 1px solid rgba(251, 108, 108, 0.8);
  padding: 5px; 
  text-align: center;
  font-family: 'Jua', sans-serif;
}
#wrapper{
	font-size: 30px;
}
#header{
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: 'Jua', sans-serif;
}
#side_menu{
    grid-column-start: 1;
    grid-column-end: 5;
}
#content{
    grid-column-start: 1;
    grid-column-end: 5;
}
#footer{
    grid-column-start: 1;
    grid-column-end: 5;
    font-family: 'Jua', sans-serif;
}
/*font-family: 'Jua', sans-serif;
font-family: 'Cute Font', cursive;
font-family: 'East Sea Dokdo', cursive; 
font-family: 'Hi Melody', cursive;
*/